* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://i.pinimg.com/originals/5c/42/80/5c42801d270eedcd5b117bddd65f9de0.jpg");
    font-family: Arial, Helvetica, sans-serif;
}



h1 {
    color: rgb(0, 0, 0);
    margin: 20px 0;
}

.busca {
    display: flex;
    width: 300px;
}
.busca #searchInput {
    flex: 1;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
}
.busca button {
    
    margin-right: 25px;
    padding: 10px;
    font-size: 15px;
    border: 0;
    
    
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    background-color: #444;
    border-radius: 5px;
    margin-left: 20px;
}

.resultado {
    width: 300px;
    display: none;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 5px;
    background-color: rgba(134, 134, 134, 0.4);
    backdrop-filter: blur(10px);
    transition: all linear .5s;
}

.titulo {
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.info {
    display: flex;
    width: 100%;
}
.info .temp {
    flex: 1;
    text-align: center;
}
.info .vento {
    flex: 1;
    text-align: center;
}
.tempTitulo,
.ventoTitulo {
    color: rgb(63, 63, 63);
    font-size: 16px;
    margin-bottom: 5px;
}
.tempInfo,
.ventoInfo {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
}
.tempInfo sup {
    font-size: 15px;
    font-weight: normal;
}
.ventoInfo span {
    font-size: 15px;
    font-weight: normal;
}
.ventoArea {
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    padding-left: 25px;
    padding-top: 25px;
}
.ventoPonto {
    width: 15px;
    height: 1px;
    background-color: #FFF;
    transform-origin: left;
}

.aviso {
    display: flex;
    color: rgb(0, 0, 0);
    padding-top: 20px;
}

footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
}